<h1>Welcome to CSE Motors</h1>
<div class="hero">
    <img src="../images/vehicles/delorean.jpg" alt="">
    <div class="hero-info">
        <h2>DMC Delorean</h2>
        <h3>3 Cup Holders</h3>
        <h3>Superman Doors</h3>
        <h3>Fuzzy Dice!</h3>
        <a href="#"><img src="../images/site/own_today.png" alt="Own today button" loading="lazy" width="241" height="72"></a>
    </div>
</div>
<div class="display">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <figure class="flux-cap">
            <img src="../images/upgrades/flux-cap.png" alt="Flux capacitor upgrade" loading="lazy">
            <figcaption><a href="#">Flux Capacitor</a></figcaption>
        </figure>
        <figure class="flame-decals">
            <img src="../images/upgrades/flame.jpg" alt="Flame decals upgrade" loading="lazy">
            <figcaption><a href="#">Flame Decals</a></figcaption>
        </figure>
        <figure class="bumper-stickers">
            <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper stickers upgrade" loading="lazy">
            <figcaption><a href="#">Bumper Stickers</a></figcaption>
        </figure>
        <figure class="hub-caps">
            <img src="../images/upgrades/hub-cap.jpg" alt="Hub caps upgrade" loading="lazy">
            <figcaption><a href="#">Hub Caps</a></figcaption>
        </figure>
    </div>
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling like McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>